<nav class="navbar">
    <div class="left-section">
        <img src="../../../../../assets/lap.png" class="des-logo" alt="Logo" style="width: 30px; height: 30px;"/>
        

        <ul class="nav-links">
            <li class="nav-items"><a routerLink="/teacher/dashboard">Dashboard</a></li>
            <!-- <li class="nav-items"><a routerLink="/teacher/updateteacher">Teacher</a></li> -->
            <!-- <li class="nav-items"><a routerLink="/teacher/updateattendance">Attendance</a></li> -->
            <li class="nav-items"><a routerLink="/teacher/upload">Upload</a></li>
            <li class="nav-items"><a routerLink="/teacher/report">Report</a></li>
        </ul>
    </div>
    <button class="logout-btn" (click)="logout()">Logout</button>
</nav>
